@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Oswald:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Oswald:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Koulen&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Bungee', cursive;
    background-image: radial-gradient(circle at 4.55% -4.17%, #ffffff 0, #e5f4fc 25%, #b0cee0 50%, #7ba9c5 75%, #4a89ae 100%);
    
}

.Logo_header {

    position: relative;
    top: 20px;
    left:80px;
    block-size: 150px;
    writing-mode: horizontal-tb;
    margin:auto;
    width: 150px;
    max-height: 100px;

}


.Main_title{
    font-family: 'Koulen', cursive;
    font-size: 3rem;
    text-align: center;
}

#btn-mas{
    display: none;

}

.Button{
    position: fixed;
    bottom: 60px;
    right: 2%;

}

.redes a, .incon-mas2{
    display: block;
    text-decoration: none;
    background:#cc2b2b ;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;

}

.redes a:hover{
    background: #fff;
    color: #cc2b2b;
}

/* .redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
} */

.incon-mas2{
    cursor: pointer;
    background: #f44141;
    font-size: 2.3rem;

}

btn-mas:checked~ .btn-mas .incon-mas2{
    transform: rotate(130deg);
    font-size: 2.5rem;
}

btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible; 

}

.Avatar{

    display:block;
    margin-left: auto;
    margin-right: auto;

}

.Dev_embedded{
    display: flex;
    justify-content: space-around;
    height: -100px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;

} 

.Videos_embeddedSystems{
    display: flex;
    align-items: center;
    justify-content: center;
    
} 


.parrag_Subtitle1{
    color: red;
    font-size: 3rem;
    line-height: 35px;
    padding-bottom: 30px;
    -webkit-text-stroke: 1px black;
}

.parrag_Subtitle2{
    color: blue;
    padding-top: 500px;

}



.container_column{
    margin: 150px;
    column-count: 2;
    column-gap: 10px;
    padding: 20px;
    column-rule: 5px solid rgb(113, 166, 197);
    list-style: none;
}


.proyects_embedded{
    font-size: 2rem;
    line-height: 20px;
    color: rgb(69, 69, 222);
    -webkit-text-stroke: 0.3px red;
    margin: 0;
    padding: 20px;
    padding-bottom:200px;
    
}


.prog_languages{
    font-size: 1.5rem;
    padding-left: 80px;
    -webkit-text-stroke: 0.8px red;
    color: rgb(39, 17, 177);
    list-style-type: '🤖';
    
}

.Leng_prog{
    -webkit-text-stroke: 0.6px white;
    padding-top: -10px;
    font-size: 2rem;
    padding-left: 60px;
}